// Header Background
#rectangleDiv {
  position: absolute;
  width: 100vw;
  height: 700px;
  left: 0;
  top: 375px;

  background: linear-gradient(180deg, rgba(249, 250, 254, 0) 0%, rgba(252, 253, 255, 0.515625) 30.73%, #FFFFFF 100%);
}

#circle1 {
  position: absolute;
  width: 633px;
  height: 633px;
  top: 67px;

  background: rgba(210, 215, 255, 0.8);
  filter: blur(175px);
}