body[data-theme="light"] #contact {
  background-color: rgba(0, 0, 0, 0.1);
}

body[data-theme="dark"] #contact {
  background-color: #242933;
}

#contact {
  padding-bottom: 3.5vh;
}

#contactTitle {
    text-align: center;
    padding: 1.5vh 0;
}

#contactDiv {

  display: flex;
  justify-content: space-around;

  & img {
    $size: 75px;
    width: $size;
    height: $size;
  }

  & .contactUrl {
    text-decoration: none;
    cursor: none;
    padding: 0 0.5vw;
  }
}

.contactImage {
  body[data-theme="dark"] & {
    filter: invert(1);
  }
}

#cursor {
  
}