@import "../utils/font.css";

body[data-theme="light"] .profile {
    background-color: rgba(0, 0, 0, 0.1);
}

body[data-theme="dark"] .profile {
    background-color: #242933;
}

#profileTitle {
    text-align: center;
    padding-top: 1.5vh;
}

#presentation {
    width: 45vw;
    margin: auto;
    text-align: justify;
    body[data-theme="dark"] & {
        border: solid 1px white;
    }
    body[data-theme="light"] & {
        border: solid 1px black;
    }
    padding: 1vw;
}

$picSize: 350px;
#profilePicture {
    width: $picSize;
    height: $picSize;
    border-radius: 50%;
    margin-right: 12vw;
    vertical-align: middle;
}

.content {
    display: flex;
    align-items: center;
}

.right {
    margin: auto;
    display: block;
    width: $picSize;
}

#myStats {
    padding-top: 2.5vh;
    text-align: center;
}

#wakatimeData {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3.5vh;
    & div {
        body[data-theme="dark"] & {
            border: solid 1px white;
        }
        body[data-theme="light"] & {
            border: solid 1px black;
        }
    }
    & h5 {
        margin: auto 1vw;
        text-align: center;
    }
    & p {
        padding-top: 1vh;
        text-align: center;
        font-size: 250%;
        font-family: "DsDigi", serif;
        body[data-theme="dark"] & {
            color: rgb(151, 151, 151);
        }
        body[data-theme="light"] & {
            color: rgb(104, 104, 104);
        }
    }
}

.total {
    margin-left: 0.5vw;
}

#infoHour {
    margin-left: 0.5vw;
    padding-top: 1vw;
}