body[data-theme="light"] #project {
  background-color: rgba(0, 0, 0, 0.1);
}

body[data-theme="dark"] #project {
  background-color: #242933;
}

#project {
  padding-bottom: 7.5vh;
}

#projectTitle {
  text-align: center;
  padding: 1.5vh 0;
  margin-bottom: 4.5vh;
}

#projectList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.9vw;
  padding-left: 0.5vw;

  & div {
    text-align: center;
  }
}

.project {

  body[data-theme="dark"] & {
    background-color: #1f242d;
  }
  body[data-theme="light"] & {
    background-color: white;
  }
  border-radius: 10px;
}

.projectName {
  margin-top: 1vh;
}

.available {
  width: max-content;
  margin: 0 auto 2.5vh;
  padding: 0.3vw;
  border-radius: 8px;

  &[available="true"] {
    body[data-theme="dark"] & {
      background-color: rgb(48, 104, 40);
    }
    body[data-theme="light"] & {
      background-color: #00b321;
      color: white;
    }
  }
  &[available="false"] {
    body[data-theme="dark"] & {
      background-color: rgb(104, 48, 48);
    }
    body[data-theme="light"] & {
      background-color: rgb(176, 3, 3);
      color: white;
    }
  }
}

.githubLink {

  &:hover {
    text-decoration: underline;
  }
}

